body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(175, 149, 118);
  width: 500px;
  height: 500px;
  border-radius: 10px;
}

input {
  width: 250px;
  padding: 10px;
  font-size: 20px;
  margin: 5px;
  border-radius: 4px;
}

button {
  padding: 10px;
  width: 150px;
}

h1 {
  color: aliceblue;
}
