*{
    margin: 0px;
    padding: 0px;
}


body{
    background-color: rgb(63, 123, 236);
    height: 100vh;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: aliceblue;
    height: 50px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
    flex-wrap: wrap;
    word-wrap: normal;
}

#digimon{
    height: 310px;
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

#digimon:hover{
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px aliceblue;
}

#digimon img{
    height: 270px;
    width: 200px;
}

#digimon p{
    text-align: center;
    background-color: black;
    color: aliceblue;
    padding: 10px;
}